html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #00467f, #a5cc82);
}
.row {
  margin: 1rem 0rem 1rem 0rem;
}
#menu-nav {
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  background: #f5f3ff !important;
  filter: drop-shadow(2px 4px 6px #f5f3ff);
}

div#report1,
div#report2,
div#report3,
div#report4,
div#report5,
div#report6,
div#report7,
div#report8,
div#report9 {
  min-height: 400px;
}
app-report {
  border-radius: 10px;
  background: #f5f3ff !important;
  filter: drop-shadow(2px 4px 6px #f5f3ff);
}
